.hero {
  width: 100%;
  height: 400px;
  background-color: transparent;
  overflow: hidden;
}

.KortOmMigBox {
  width: 100%;
  height: 350px;
  background-color: transparent;
  display: flex;
  

  .litleinfobox {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    margin: auto;
    padding:10px;
    
  }

  h2 {
    font-size: 60px;
  }

  p {
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
  }
}

.ProjektTeaser {
  width: 90%;
  background-color: transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.projekteaserbox {
  width: 40%;
  height: 500px;
  background-color: rgb(240, 240, 240);
  margin: 20px;
  padding-top:10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 10px;
  gap:10px;

  .imgbox {
    width: 100%;
    height: 50%;
    background-color: transparent;
    margin: 0 auto; 
    overflow: hidden;
    text-align: center;

    .img{
      height: 100%;
      width: auto;
      border-radius: 10px;
    }

  }

  .textbox {
    width: 88%;
    background-color: white;
    margin: 0 auto 5px auto;
    padding:10px;
    text-align: center;
    border-radius: 5px;

    p{
      margin-top:20px;
    }
  }
}

.tilprojektknap {
  width: 100%;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: aliceblue;
  padding: 0 20px;
  cursor: pointer;
  border: solid 1.5px black;
  border-radius: 15px;
}


@media only screen and (max-width: 600px) {



  .hero{
    display: none;
  }

  .litleinfobox{
    width: 90%;
    
    h2{
      font-size: 40px;
    }

    
  }

  .ProjektTeaser{
    width: 95%;

    .projekteaserbox{
      width: 90%;

      .imgbox{
        margin: 0 auto;

        .img{
          width: 100%;
        }
      }

    }
  }

}

