.ommigcontainer{
    width: 90%;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    margin: auto;
}

.info{
    width: 45%;
    background-color:bisque;
}

.aboutimg{
    width: 45%;
    background-color: brown;
    padding: auto;
}

.hvemerjeg{
    width: 90%;

    background-color: beige;
}

.hvadkanjeg{
    width: 90%;
    background-color: rgb(158, 126, 87);
}
